

# System Maintainence
alias sdn="sudo shutdown now"

# Some aliases
alias p="sudo pacman"
alias SS="sudo systemctl"
alias v="$EDITOR"
alias vim="$EDITOR"
alias sv="sudo $EDITOR"
alias ka="killall"
alias ref="source $HOME/.aliases"
alias g="go run"
alias mp="mpv --sub-font-size=35 "
alias grep="grep --color=auto" # Color grep - highlight desired sequence.
alias ccat="highlight --out-format=ansi" # Color cat - print file with syntax highlighting.

# Internet
alias YT="youtube-dl --add-metadata -ic" # Download video link
alias yta="YT -x -f bestaudio/best" # Download only audio
alias yt="youtube-viewer -7"
alias starwars="telnet towel.blinkenlights.nl"

# Adding color
alias colors='$EDITOR $HOME/256-colors'
alias l='clear && ls -ct -hNF --color=always --group-directories-first'
alias ll='clear && ls -tlhNG --group-directories-first --color=always'

alias a="overkill"
alias h="c ~/"
alias D="c ~/Documents"
alias d="c ~/Downloads"
alias m="c /mnt"
alias s="c ~/.scripts"
alias cf="c ~/.config"
alias .="c ."
alias ..="c .."
alias .2="c ../../".
alias .3="c ../../../".
alias .4="c ../../../../".
alias lab="c ~/dev/golang/goworkspace/src/lab/"
alias dmp="c $GOPATH/src/dmp/"
alias :q="exit"
alias :Q="exit"
alias :wq="exit"
alias cfa="$EDITOR ~/.aliases"
alias cfff="c $HOME/.config/fish"
alias cff="$EDITOR $HOME/.config/fish/config.fish"
alias cfc="$EDITOR ~/.scripts/configs"
alias cfb="$EDITOR ~/.bashrc"
alias cfv="$EDITOR ~/.config/nvim/init.vim"
alias vv="/usr/bin/vim"
alias cfp="$EDITOR ~/.profile"
alias cfj="$EDITOR ~/.config/vifm/vifmrc"
alias cfs="$EDITOR ~/.config/sxiv/exec/key-handler"
alias cfi="$EDITOR ~/.config/i3/config"
alias cfd="$EDITOR ~/.Xdefaults"
alias cfu="$EDITOR ~/.config/newsboat/urls"
alias cfn="$EDITOR ~/.config/newsboat/config"
alias cfmb="$EDITOR ~/.config/ncmpcpp/bindings"
alias cfmc="$EDITOR ~/.config/ncmpcpp/config"
alias cfmpd="$EDITOR ~/.config/mpd/mpd.conf"
alias cfM="$EDITOR ~/.config/mpd/mpd.conf"
alias mk="make && sudo make install"
alias gp="c $GOPATH"
alias cfx="$EDITOR ~/.xinitrc"
alias pr="sudo pacman -Rns"

# git stuff
alias gc="git checkout"
alias ga="git add"
alias gci="git commit -m"
alias gs="git status"
alias gm="git merge"
alias gg="git push"

# easter egg
alias yaourt="yay"
alias yougurt="yaourt"
